p{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #05f7e2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}